@import url("https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");

h1 {
  text-decoration: underline;
  color: rgb(236, 114, 39);
}

h2 {
  color: black;
}
body {
  color: rgb(0, 0, 0);
  background-color: rgb(245, 244, 157);
  font-family: "Playwrite GB S";
}
.landing {
  width: 100vw;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing img {
  width: 50vw;
}

.landing img {
  width: 50vw;
}

.row {
  display: flex;
}

.hello {
  h1 {
    text-decoration: underline;
    color: brown;
  }
}

.pum img {
  width: 100px;
  height: 100px;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes example {
  0% {
    left: 0px;
  }
  30% {
    left: 100px;
  }
  60% {
    left: 100px;
  }
  70% {
    left: 100px;
  }
  100% {
    left: 100px;
  }
}
